#METADATA VARIABLES----------------------
cluster_name = ''
tags = {
    "Project" = ""
    "Owner" = ""
  }

#ADMINISTRATION AND CREDENTIAL VARIABLES------------------
aws_region = "us-east-1"
aws_profile = ""
ec2_keypair_name = ""
public_key_path = ""

#EC2 VARIABLES (APPLY TO ALL EC2 INSTANCES UNLESSS OTHERWISE SPECIFIED)--------------------------
webserver_instance_type = "t3.micro"
scheduler_instance_type = "t3.micro"
worker_instance_type = "t3.small"
number_of_workers  = 1

#DB VARIABLES------------------------------------
db_instance_type = "db.t2.micro"
db_dbname = ""
db_username = ""
db_password = ""