#METADATA VARIABLES----------------------
cluster_name = ""
tags = {
  }


#ADMINISTRATION AND CREDENTIAL VARIABLES------------------
aws_region = ""
aws_profile = ""
aws_profile_access_key = ""
aws_secret_access_key = ""
ec2_keypair_name = ""
public_key_path = ""
private_key_path = ""
admin_email = ""
admin_username = ""
admin_password = ""
fernet_key = ""

#AIRFLOW CONFIG VARIABLES------------------------------
time_zone = ""
load_examples = ""

#EC2 VARIABLES (APPLY TO ALL EC2 INSTANCES UNLESS OTHERWISE SPECIFIED)--------------------------
webserver_instance_type = "t3.micro"
scheduler_instance_type = "t3.micro"
worker_instance_type = "t3.small"
number_of_workers  = 1

#DB VARIABLES------------------------------------
#These variables define the Airflow metadata database.
db_instance_type = "db.t2.micro"
db_dbname = "airflow"
db_username = ""
db_password = ""

#GIT VARIABLES--------------------------------------
#This repository will be pulled into the Airflow/dags directory of all airflow servers to facilitate dag management.
#Intended to be used to start the cluster with a fork of https://github.com/stlrda/Airflow-AdminTools
dag_git_repository_url=""
dag_git_repository_branch=""